/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .about,
body.dark-mode .ui-dialog {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode li {
    color: #ffffff;
}

body.dark-mode .viewProject {
    color: #121212;
}

body.dark-mode .wicdHeader {
    background-color: #333333;
}

body.dark-mode .thought.robotThought {
    background-color: #333333;
}

body.dark-mode .thought.userThought {
    background-color: #777777;
}

.header.dark-mode {
    background: none;
}

body.dark-mode #tMessageDialog label,
body.dark-mode #tMessageDialog .fa-robot {
    color: #ffffff;
}

body.dark-mode .ui-widget-content {
    border: 1px solid #333;
    background:  #1e1e1e;
    color: #fff;
}

body.dark-mode .robotThought:before {
    box-shadow: -50px 30px 0 -12px #333333;
}

body.dark-mode .robotThought:after {
    background-color: #333333;
    box-shadow: 40px -34px 0 0 #333333, -28px -6px 0 -2px #333333, -24px 17px 0 -6px #333333, -5px 25px 0 -10px #333333;
}

body.dark-mode .userThought:before {
    box-shadow: -4px 43px 0 -12px #777777;
}

body.dark-mode .userThought:after {
    box-shadow: 40px -34px 0 0 #777777, 28px -6px 0 -2px #777777, 28px 17px 0 -6px #777777, 15px 25px 0 -10px #777777;
}